// Custom variable overrides
@import "_variables.scss";

//Import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

//Global custom styles
.horizontalLine {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 2px;
    background: #e83d3d;
}

//Bootstrap overrides
.btn-secondary {
    font-weight: bold;
}
